.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__name {
  color: #fff;
  background-color: #ca9650;
  padding: 10px;
  margin: 0;
}

.fighter-preview__info {
  color: #fff;
  background-color: #267abf;
  padding: 5px;
}
